- tuple()
    - It is used to store multiple items in a single variable
    - It is immutable
    - It can allow the duplicates
    - Index starts with '0'
    - It can allow any type of data
    - Represented by (),values can be separated by ,

In [1]:
# empty tuple
t = ()
print(t,type(t))

() <class 'tuple'>

In [3]:
t1 = (56,78,11,78,"as","hj",5.7,90,56,34,78)
print(t1)

(56, 78, 11, 78, 'as', 'hj', 5.7, 90, 56, 34, 78)

In [8]:
t1 = (56,78,11,78,7.8,5.7,90,56,34,78)
print(len(t1),min(t1),max(t1),sorted(t1),sum(t1))

10 5.7 90 [5.7, 7.8, 11, 34, 56, 56, 78, 78, 78, 90] 494.5

In [9]:
t1[2]=12
t1

TypeError: 'tuple' object does not support item assignment

In [10]:
print(dir(tuple),end=' ')

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [13]:
# count(),index()
t1 = (56,78,11,78,7.8,5.7,90,56,34,78)
print(t1.count(78))
print(t1.index(78))

3
1

In [14]:
t1 = (56,78,11,78,7.8,5.7,90,56,34,78)
for i in t1:
    print(i,end=' ')

56 78 11 78 7.8 5.7 90 56 34 78

In [17]:
# conversion of tuple to list
list(t1)

[56, 78, 11, 78, 7.8, 5.7, 90, 56, 34, 78]

### dictionary
    - It is a key value pair
    - It is mutable
    - keys doesn't allow the duplicates
    - values can allow the duplicates
    - We can store any type of data
    - Represented by {},keys and values can be separated by :

In [18]:
# empty dict
d = {}
print(d,type(d))

{} <class 'dict'>

In [19]:
d = {5:78,9:34,8:39,"a":74,"python":"workshop",8.6:"c"}
print(d)

{5: 78, 9: 34, 8: 39, 'a': 74, 'python': 'workshop', 8.6: 'c'}

In [22]:
print(len(d))

6

In [26]:
d1 = {5:78,9:34,8:39,8.6:"c",6:88}
print(min(d1),max(d1),sorted(d1),sum(d1))

5 9 [5, 6, 8, 8.6, 9] 36.6

In [30]:
# keys doesn't allow the duplicates
d1 = {5:78,9:34,8:39,8.6:"c",6:88,5:15,5:1}
print(d1)

{5: 1, 9: 34, 8: 39, 8.6: 'c', 6: 88}

In [31]:
d1 = {5:78,9:39,8:39,8.6:"c",6:88,5:15,5:1}
print(d1)

{5: 1, 9: 39, 8: 39, 8.6: 'c', 6: 88}

In [32]:
print(dir(dict),end=' ')

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [33]:
# accessing values 
# get()
d1 = {5:78,9:34,8:39,8.6:"c",6:88,5:15,5:1}
d1.get(8.6)

'c'

In [36]:
# keys(),values(),items()
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys([5, 9, 8, 8.6, 6])
dict_values([1, 34, 39, 'c', 88])
dict_items([(5, 1), (9, 34), (8, 39), (8.6, 'c'), (6, 88)])

In [37]:
# adding the new key and new value to the dictionary
d1[78]=90
print(d1)

{5: 1, 9: 34, 8: 39, 8.6: 'c', 6: 88, 78: 90}

In [44]:
d1

{5: 1, 9: 34, 8: 39, 6: 88, 78: 90}

In [45]:
d1.pop(8)

39

In [46]:
d1

{5: 1, 9: 34, 6: 88, 78: 90}

In [47]:
# popitem()
d1.popitem()
d1

{5: 1, 9: 34, 6: 88}

In [48]:
# update()
d1.update({9:56})
print(d1)

{5: 1, 9: 56, 6: 88}

In [49]:
# copy()
d2 = d1.copy()
print(d1,d2)

{5: 1, 9: 56, 6: 88} {5: 1, 9: 56, 6: 88}

In [50]:
# clear()
d1.clear()

In [51]:
d1

{}

In [52]:
di = {5: 1, 9: 56, 6: 88}
for i in di:
    print(i)

5
9
6

In [53]:
di = {5: 1, 9: 56, 6: 88}
for i in di.values():
    print(i)

1
56
88

In [54]:
# i/p: li = {6,7,8,1,2,4}
# o/p: {6:36, 7:49, 8:64 ,1 :1, 2:4, 4:16}
li = [6,7,8,1,2,4]
di = {}
for i in li:  # i=6
    di[i]=i**2  # di[6]=36 7=49 8=64 .......
print(di)

{6: 36, 7: 49, 8: 64, 1: 1, 2: 4, 4: 16}

In [55]:
# i/p: 10
# o/p: {1:1,2:8,3:27..............10:1000}
n = int(input())
d = {}
for i in range(1,n+1):
    d[i]=i**3
print(d)

20
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000, 11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375, 16: 4096, 17: 4913, 18: 5832, 19: 6859, 20: 8000}

### set()
    - It is a collection which is unorderd and unindexed
    - Set is itself mutable
    - It doesn't allow the duplicates
    - It can store any type of data
    - Represented by {}, values can be separted by ,

In [57]:
s = {4,8}
print(s,type(s))

{8, 4} <class 'set'>

In [58]:
s1 = {7,8,1,2,3,2,3,1,2,1,2,1,1,2,2,9}
print(s1)

{1, 2, 3, 7, 8, 9}

In [59]:
print(dir(set),end=' ')

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [60]:
# add()
s1 = {3,4,5,12,67,98,5,6,5,6,1}
s1.add(68)
s1

{1, 3, 4, 5, 6, 12, 67, 68, 98}

In [3]:
# copy()
s1 = {3,4,5,12,67,98}
s2 = s1.copy()
print(s1,s2)

{98, 3, 67, 4, 5, 12} {98, 3, 67, 4, 5, 12}

In [4]:
# pop() # it delete's random element in a set
s1.pop()

98

In [5]:
s1

{3, 4, 5, 12, 67}

In [6]:
# discard()
s1.discard(12)
s1

{3, 4, 5, 67}

In [7]:
# remove()
s1.remove(5)
s1

{3, 4, 67}

In [12]:
# discard---> It will not raise the error
s1.discard(12)

In [9]:
# remove()---> It will raise the error
s1.remove(5)

KeyError: 5

In [14]:
# union()
a,b = {4,5,6,56,1,12,56},{51,78,1,1,1,5,2,3,5}
a.union(b)

{1, 2, 3, 4, 5, 6, 12, 51, 56, 78}

In [15]:
b.union(a)

{1, 2, 3, 4, 5, 6, 12, 51, 56, 78}

In [16]:
# intersection()
a.intersection(b)

{1, 5}

In [17]:
b.intersection(a)

{1, 5}

In [18]:
# difference()
a,b = {4,5,6,56,1,12,56},{51,78,1,1,1,5,2,3,5}
a.difference(b)

{4, 6, 12, 56}

In [19]:
b.difference(a)

{2, 3, 51, 78}

In [21]:
# isdisjoint()
x = {"a","b","c"}
y = {"d","e","a"}
z = x.isdisjoint(y)
print(z)

False

###### References
---------------------------
www.w3schools.com
www.javatpoint.com

In [30]:
# li = [6,7,3,4,71,17,8,9,10]
# o/p: {16,36,64,100}
li = [6,7,3,4,71,17,8,9,10]
f = set()
for j in li:
    if(j%2==0):
        f.add(j**2)
print(f)

{16, 100, 64, 36}

In [2]:
#### files
# Create empty text file 
f = open('data.txt','w')
print("File created successfully")
f.close()

File created successfully

In [4]:
# adding the data to a text file
f = open('data.txt','w')
f.write("hi hello good afternoon")
print("success")
f.close()

success

In [14]:
f = open('data.txt','w')
f.write('name:python'+'\n'+'roll no:7346'+'\n'+'branch:ece'+'\n')
print("success")
f.close()

success

In [15]:
# Print the data in a text file
# read()
f2 = open('data.txt','r')
d = f2.read()
print(d)

name:python
roll no:7346
branch:ece

In [16]:
# append()
f4 = open('data.txt','a')
f4.write('course:da workshop')
f4.close()
print('success')

success

In [21]:
# read the n no of characters in a file
f4 = open('data.txt','r')
print(f4.read(5))
print(f4.read(3))
print(f4.read(5))

name:
pyt
hon
r

In [23]:
# with() # by using with function we no need to close the file
with open('data.txt') as f:
    print(f.read())

name:python
roll no:7346
branch:ece
course:da workshop

In [24]:
# readline()  # It print's only 1st line of the file
with open('data.txt') as f1:
    print(f1.readline())

name:python

In [25]:
# readlines()---> It print's entire lines in a file
with open('data.txt') as f1:
    print(f1.readlines())

['name:python\n', 'roll no:7346\n', 'branch:ece\n', 'course:da workshop']

In [27]:
# Total no of characters in a file
with open('data.txt') as f2:
    print(len(f2.read()))

54

In [28]:
# Total no of lines in a file
with open('data.txt') as f3:
    print(len(f3.readlines()))

4

In [4]:
# total no of spaces in a file
with open('data.txt') as f1:
    sp=0
    for i in f1.read():
        if i.isspace():
            sp=sp+1
print("no of spaces: ",sp)

no of spaces:  13

In [10]:
# seek() :- This function is used to change the curser position 
with open('data.txt') as f2:
    print(f2.seek(2))
    print(f2.read(3))
    print(f2.read(4))

2
me
: py

In [14]:
# tell():-   This function returns the current position 
with open('data.txt') as f2:
    print(f2.seek(5))
    print(f2.read(3))
    print(f2.tell())

5
: p
8

In [16]:
# split()
with open('data.txt') as f3:
    print(f3.read().split())

['name', ':', 'python', 'roll', 'no', ':', '7346', 'branch', ':', 'ece', 'course', ':', 'da', 'workshop']

In [18]:
# Count the total no of words in a file
with open('data.txt') as f:
    print(len(f.read().split()))

14

In [20]:
# file existed or not
import os
print(os.path.exists('data1.txt'))

False

In [23]:
# Remove the file
import os
filename = input('Enter your file name: ')
if os.path.exists(filename):
    print("Yes")
    os.remove(filename)
    print('file removed successfully')
else:
    print("file does not exist")

Enter your file name: file.txt
file does not exist

In [29]:
# To store n student records
with open('students.txt','a') as f:
    for i in range(1,3):
        name = input('Enter name: ')
        roll_no = input('Enter roll no: ')
        aadhar = input('Enter aadhar no: ')
        email = input('Enter email id: ')
        mbl = input('Enter mobile number: ')
        f.write(name+'\n'+roll_no+'\n'+aadhar+'\n'+email+'\n'+mbl+'\n')

Enter name: ksdjfrk
Enter roll no: 3948930
Enter aadhar no: 902384093
Enter email id: kjdlkfjd
Enter mobile number: 3094893
Enter name: mdnfj
Enter roll no: 30948309
Enter aadhar no: 09384093849
Enter email id: lksdhflkd
Enter mobile number: 9832759834