- Type Conversions
    
    - Syntax
    -----------------------------------
     int    --    int(variable_name)
     float  --    float(variable_name)
     str    --    str(variable_name)

In [2]:
# int to float
g = 78
print(g,type(g))
f = float(g)
print(f,type(f))

78 <class 'int'>
78.0 <class 'float'>

In [4]:
# float to int
g1 = 7.8
print(g1,type(g1))
f1 = int(g1)
print(f1,type(f1))

7.8 <class 'float'>
7 <class 'int'>

In [5]:
# int to str
j = 89
print(j,type(j))
j1 = str(j)
print(j1,type(j1))

89 <class 'int'>
89 <class 'str'>

- string to int not possible

## Operators
- Arithmetic :--    +,-,*,/,%,//(floor),power(**)
- Assignment  :-  =,+=,-=,*=,.....
- Comparision/Relational :-  ==,!=,<,>,<=,>=
- Logical   :-  and,or,not
- Bitwise  :-   &,|,^(xor),<<,>>,~
- Membership :-  in,not in
- Identity :-  is,is not

- Arithmetic :--    +,-,*,/,%,//(floor),power(**)
   - Used to perform mathematical operations

In [14]:
a,b = 6,7
print(a+b,a-b,a*b)

13 -1 42

In [24]:
print(a/b,a//b,a%b,a**3)

0.8571428571428571 0 6 216

- Assignment  :-  =,+=,-=,*=,.....
    - Used to assign values to the variables

In [27]:
a = 8
a += 6   # a=a+6=8+6=14
print(a)

14

In [28]:
b = 8
b -= a   # -6
b

-6

In [29]:
c = 9
c *= b
print(c)

-54

-  Comparision/Relational :-  ==,!=,<,>,<=,>=
    - Used to compare the values

In [34]:
a,b = 8,6
print(a==b,a>b,a<b)
print(a>=b,a<=b)

False True False
True False

In [ ]:
### Logical Operators :-  and,or,not
-----------------------------------------
Truth table of logical and operator
----------------------------------------------
a b a and b   a or b
---------------------
T T       T     T
T F       F     T
F T       F     T
F F       F     F

In [37]:
# logical and 
x,y = 8,5
print(x>y and x!=y)  # T and T
print(x<y and x!=y)   # F T

True
False

In [38]:
x,y = 8,5
print(x>y or x==y)  # T or F
print(x<y or x!=y)   # F T

True
True

In [40]:
# not operator
print(not(x>y))

False

In [42]:
# Bitwise operators
bin(50)

'0b110010'

In [ ]:
Bitwise operators Truth tables
----------------------------
a b a&b a|b a^b
--------------------
0 0 0    0   0
0 1 0    1   1
1 0 0    1   1
1 1 1    1   0

In [46]:
a,b = 10,20
print(a&b,a|b,a^b)

0 30 30

In [ ]:
Task 1---> Left shift and right shift

- Membership Operators:  in,not in 
    --> These operators are used to check whether a value/character
    is presented in sequence or not
    - sequence:-  string,list,tuple,dict,set

In [56]:
# in,not in
s = "workshop"
print(s,type(s))
print("p" in s,'z' in s,'y' in s)
print('z' not in s,'o' not in s,'w' in s)
print('work' in s,'wos' not in s,'sho' in s)

workshop <class 'str'>
True False False
True False True
True True True

In [64]:
# Identity operators:-   is,is not
    # - Used to check memory locations of the objects
a,b = 5,6
print(id(a),id(b))
print(a is b, a is not b)
a1,b1 = 5,5.0
print(id(a1),id(b1))
print(a1 is b1,a1 is not b1)

140733939749800 140733939749832
False True
140733939749800 1671684973776
False True

## Conditional Statements`
     - Decision making (or) To check the conditions
     
   - Types of conditional statements
     -----------------------------------------
     - if
     - if else
     - elif
     - nested if

In [ ]:
- Syntax for if statement
----------------------------------
if(condition):(T)
    statements

In [11]:
## I/P: 7     # I/P: 6
## O/P: ODD
n = int(input())
if(n%2==1):
    print("odd")

2

In [13]:
n1 = int(input())
if(n1>0):
    print("Positive")

-5

#### Syntax for if else statement
--------------------------------
if(condition):
    statements
else:
    statements

In [67]:
n = int(input())
if(n%2==1):
    print("odd")
else:
    print("even")

7
odd

In [69]:
n1 = int(input())
if(n1>0):
    print("Positive")
else:
    print("Negative")

-5
Negative

In [75]:
age = int(input())
if(age>18):
    print("Eligible for vote")
else:
    print("Not eligible for vote")

12
Not eligible for vote

In [72]:
# Divisible by 7
n = int(input())
if(n%7==0):
    print(n,"is divisible by 7")
else:
    print(n,"is not divisible by 7")

49
49 is divisible by 7

In [76]:
# Divisible by both 5,10
n = int(input())
if(n%5==0 and n%10==0):
    print(n,"is divisible by 5 and 10")
else:
    print(n,"is not divisible by 5 and 10")

45
45 is not divisible by 5 and 10

In [ ]:
# Syntax for elif statement
-------------------------------------
if(condition1):
    statements
elif(condition2):
    statements
elif(condition3):
    statements
.............
else:
    statements

In [3]:
week = int(input())
if(week==0):
    print("Sunday")
elif(week==1):
    print("Monday")
elif(week==2):
    print("Tuesday")
elif(week==3):
    print("Wednesday")
elif(week==4):
    print("Thursday")
elif(week==5):
    print("Friday")
elif(week==6):
    print("Saturday")
else:
    print("Invalid")

8
Invalid

In [4]:
a,b,c = int(input()),int(input()),int(input())
if(a>b and a>c):
    print(a,"is big")
elif(b>c):
    print(b,"is big")
else:
    print(c,"is big")

78
598
44
598 is big

Task-2
-----------------------------
90-100 -> Excellent
80-89 ---> Good
70-79 --> A Grade
60-69 --> B grade
50-59 --> C grade
40-49 --> D grade
below 40 --> fail

In [10]:
# i/p: may
# o/p: may has 31 days
month = input('Enter any month: ')
days_30 = ['april','june','september','november']
days_31 = ['january','march','may','july','august','october',
          'december']
if month in days_30:
    print(month,"has 30 days")
elif month in days_31:
    print(month,"has 31 days")
elif(month=='february'):
    print(month,"has 28/29 days")
else:
    print("Invalid")

Enter any month: JKDHFGJH
Invalid

### nested if statement
--------------------------------
if(condition):  # F
    statements
    if(condition):
        statements
    else:
        statements
else:
    statements

In [ ]:
# I/P: 6
       even
       10> square : 36
       10< -- cube --  216
# i/p: 7
o/p: odd

In [15]:
n = int(input())
if(n%2==0):
    print("even")
    if(n>10):
        print(n**2)
    else:
        print(n**3)
else:
    print("odd")

12
even
144

### Loops
    - for 
    - while

In [ ]:
# for loop
    - It is used to iterate over a sequence

In [ ]:
- Syntax for for loop
----------------------
for value in range(start,end,step_count):
    statements

In [19]:
# print natural numbers from 1 to 10
for i in range(1,11,1):
    print(i,end= ' ')

1 2 3 4 5 6 7 8 9 10

In [23]:
for i in range(1,11,2):
    print(i,end= ' ')

1 3 5 7 9

In [21]:
for i in range(11):
    print(i,end= ' ')

0 1 2 3 4 5 6 7 8 9 10

In [24]:
for i in range(40,101):
    print(i,end= ' ')

40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [27]:
for i in range(10,0,-1):
    print(i,end= ' ')

10 9 8 7 6 5 4 3 2 1

In [28]:
for i in range(10,0,-2):
    print(i,end= ' ')

10 8 6 4 2

In [33]:
for i in range(50):
    print("name",end= ' ')

name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name name

In [36]:
s,e,st=int(input('starting range: ')),int(input('Ending range: ')),int(input('Step count: '))
for i in range(s,e,st):
    print(i,end=' ')

starting range: 34
Ending range: 90
Step count: 3
34 37 40 43 46 49 52 55 58 61 64 67 70 73 76 79 82 85 88

In [39]:
# 1 to 10 numbers total
# 55
t = 0
for i in range(1,11):   # i=3
    t = t+i   # 0+1=1 1+2=3 3+3= 6+4=10+5=15+6=21+7=28...55
print(t)

55

In [41]:
# 5 = 5*4*3*2*1=120
# 5 = 1*2*3*4*5
# factorial of any number
p = 1
n = int(input())
for i in range(1,n+1):  # i= 2
    p = p*i   # 1*1=1 1*2=2 2*3=6 6*4=24 24*5=120 
print(p)

7
5040

In [43]:
# how to find factors of any number
# 10 -- 1 2 5 10
n = int(input())
for i in range(1,n+1):
    if(n%i==0):
        print(i,end=' ')

20
1 2 4 5 10 20

In [49]:
n = int(input())
f_count = 0
for i in range(1,n+1):
    if(n%i==0):
        f_count=f_count+1
print("Factors count: ",f_count)
if(f_count==2):
    print('Prime')
else:
    print("not a prime")

5
Factors count:  2
Prime

In [50]:
ord('a')

97

In [51]:
ord('A')

65

In [52]:
ord('6')

54

In [55]:
for i in range(ord('a'),ord('z')+1):
    print(chr(i),end=' ')
print()
for i in range(ord('A'),ord('Z')+1):
    print(chr(i),end=' ')

a b c d e f g h i j k l m n o p q r s t u v w x y z
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [ ]:
# Task-3
# i/p: 8
# o/p: perfect

# 6= 1 2 3 6 = 1+2+3=6